* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3';
    background-color: #fcfffd;
}

a, a:link {
    text-decoration: none;
}

/* Grid */
.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #0B2114;
    color: #fff;
    padding: 20px 0;
}

.menu h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
    margin-left: 25px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu .nav h3 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75rem;
    margin-left: 25px;
}

.menu .nav .link-item {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.menu .nav .link-item ion-icon {
    margin-right: 8px;
}

.menu .nav .link-item a,
.menu .nav .link-item ion-icon {
    color: #9FA8A3;
}

.menu .nav .link-item#active {
    border-left: 3px solid #B7DD55;
}

.menu .nav .link-item#active a {
    color: #fff;
}

.menu .nav .link-item#active ion-icon {
    color: #B7DD55;
    margin-left: -3px;
}

.user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 25px;
    padding-top: 20px;
    border-top: 1px solid #9FA8A3;
}

.user-wrapper .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9FA8A3;
    margin-right: 15px;
}

.user-wrapper .details .name {
    font-size: 1rem;
}

.user-wrapper .details .email {
    font-size: 0.75rem;
    color: #9FA8A3;
}

.content {
    width: 100%;
}

.content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

header .search-field-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .search-field {
    width: 300px;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

header .search-field p {
    color: #707070;
}

header .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

header .icons ion-icon {
    padding: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.content header h1 {
    font-size: 1.75rem;
    font-weight: 400;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.content-wrapper .header h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.content-wrapper .header p {
    color: #707070;
    font-size: 0.75rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.col {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    transition: all .2s ease-in;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card .name {
    font-size: 1rem;
    font-weight: 500;
}

.card .data {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
}

.card .data span.units {
    color: #707070;
    font-size: 0.75rem;
    margin-left: 5px;
}

.card .title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card .title-wrapper ion-icon {
    margin-right: 5px;
}

.card .title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card .title p {
    font-size: 0.75rem;
    color: #707070;
}

.card .change-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card .change-data ion-icon {
    font-size: 1rem;
    margin-right: 5px;
}

.card .change {
    font-size: 1rem;
}

.card .change-data#success ion-icon {
    color: #6DBE5B;
}

.success {
    color: #6DBE5B;
}

.failure {
    color: #DB3D32;
}

.card .change-data#failure ion-icon {
    color: #DB3D32;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 3;
    flex-basis: 1;
}

.sidebar {
    flex-grow: 2;
    flex-basis: 1;
}

.sidebar .action-btns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 20px 10px;
    gap: 10px;
}

.sidebar .action-btns-wrapper h3 {
    font-weight: 300;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}

.action-btns-wrapper button {
    width: 100%;
    outline: none;
    padding: 15px 10px;
    background: #0B2114;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.action-btns-wrapper button:hover {
    background: #B7DD55;
}

/* Statistics Route */
.statistics-content {
    padding: 20px;
    height: 100%;
    width: 100%;
}