<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Prices Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="menu">
            <div class="nav-wrapper">
                <h1>Dashboard</h1>
                <div class="nav">
                    <h3>Menu</h3>
                    <div class="link-item" id="active">
                        <ion-icon name="grid-outline"></ion-icon>
                        <a href="{{ url_for('index') }}">Overview</a>
                    </div>
                    <div class="link-item">
                        <ion-icon name="bar-chart-outline"></ion-icon>
                        <a href="/statistics">Statistics</a>
                    </div>
                    <div class="link-item">
                        <ion-icon name="cloud-outline"></ion-icon>
                        <a href="#">Weather</a>
                    </div>
                    <div class="link-item">
                        <ion-icon name="cog-outline"></ion-icon>
                        <a href="#">Settings</a>
                    </div>
                    <div class="link-item">
                        <ion-icon name="document-text-outline"></ion-icon>
                        <a href="#">Logs</a>
                    </div>
                </div>
            </div>
            <div class="user-wrapper">
                <div class="icon"></div>
                <div class="details">
                    <p class="name">Chandler Kenworthy</p>
                    <p class="email">joebloggs@example.com</p>
                </div>
            </div>
        </div>
        <div class="content">
            <header>
                <h1>Welcome, Chandler</h1>
                <div class="search-field-wrapper">
                    <div class="search-field">
                        <p>Search...</p>
                        <ion-icon name="search-outline"></ion-icon>
                    </div>
                    <div class="icons">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </div>
                </div>
            </header>
            <div class="content-wrapper">
                <div class="main-content">
                    <div class="row">
                        <div class="header">
                            <h2>Dashboard</h2>
                            <p>Easily manage and view your current data.</p>
                        </div>
                    </div>
                    <div class="row cards">
                        <div class="card">
                            <div class="title">
                                <div class="title-wrapper">
                                    <ion-icon name="flash-outline"></ion-icon>
                                    <h4 class="name">Electricity</h4>
                                </div>
                                <p>{{ most_recent_data_fetch_date }}</p>
                            </div>
                            <p class="data">{{ current_price }}<span class="units">p/kWh</span></p>
                            <div class="change-data" id="failure">
                                <ion-icon name="trending-up-outline"></ion-icon>
                                <p class="change"><span class="failure">{{ curr_price_pct_change_week }}%</span> from last week</p>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="title">
                                <div class="title-wrapper">
                                    <ion-icon name="flash-outline"></ion-icon>
                                    <h4 class="name">Usage</h4>
                                </div>
                                <p>{{ usage_start }} - {{ usage_end }}</p>
                            </div>
                            <p class="data">{{ curr_usage }}<span class="units">kWh</span></p>
                            <div class="change-data" id="success">
                                <ion-icon name="trending-up-outline"></ion-icon>
                                <p class="change"><span class="success">-15.0%</span> compared to usual</p>
                            </div>
                        </div>
    
                        <div class="card">
                            <div class="title">
                                <div class="title-wrapper">
                                    <ion-icon name="wifi-outline"></ion-icon>
                                    <h4 class="name">WiFi</h4>
                                </div>
                                <p>{{ most_recent_data_fetch_date }}</p>
                            </div>
                            <p class="data">62.4<span class="units">Mbps</span></p>
                            <div class="change-data" id="failure">
                                <ion-icon name="arrow-down-outline"></ion-icon>
                                <p class="change"><span class="failure">BAD</span> Slower than usual</p>
                            </div>
                        </div>
    
                        <div class="card">
                            <div class="title">
                                <div class="title-wrapper">
                                    <ion-icon name="server-outline"></ion-icon>
                                    <h4 class="name">Storage</h4>
                                </div>
                                <p>Now</p>
                            </div>
                            <p class="data">42.5<span class="units">%</span></p>
                            <div class="change-data">
                                <p class="change"><span>14,937</span> total files</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <h4>Next Predicted Price: {{ hour_ahead_pred[1] }} p/kWh then {{ hour_ahead_pred[0] }} p/kWh</h4>
                        </div>
                        <canvas id="model_predictions" width="900" height="350"></canvas>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="action-btns-wrapper">
                        <h3>Quick Actions</h3>
                        <button id="fetchDataButton">Fetch Pricing Data</button>
                        <button id="fetchUsageButton">Fetch Usage Data</button>
                        <button id="makePricePrediction">Predict Prices</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/scripts/buttonActions.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        const ctxPreds = document.getElementById('model_predictions').getContext('2d');

        new Chart(ctxPreds, {
            type: 'line',
            data: {
                labels: {{ true_model_dates | safe }},
                datasets: [
                    {
                        label: 'True Price (p/kWh)',
                        data: {{ true_model_prices | safe }},
                        borderColor: 'rgba(11, 33, 20, 1)',
                        backgroundColor: "rgba(182, 221, 85, 1)", 
                    },
                    {
                        label: 'Predicted Price (p/kWh)',
                        data: {{ pred_values | safe }},
                        borderColor: 'rgb(30, 83, 117)',
                    }
                ]
            },
            options: {
                responsive: false,
            }
        });
    </script>
</body>
</html>
